<div class="grid"  *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
<!--
                                            <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate()" *ngIf="createActionIsValid"></button>
-->
<!--                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()  *ngIf="deleteActionIsValid"></button>-->
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-secondary mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-secondary" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <div *ngIf="findByCriteriaShow" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 border border-surface rounded-lg">



                                <div class="flex flex-col gap-2">
                                    <label  class="text-sm font-semibold" for="3-1">{{'caisse.soldeMin' | translate}}</label>
                                    <p-inputNumber  mode="decimal" [(ngModel)]="criteria.soldeMin" id="3-1"></p-inputNumber>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label  class="text-sm font-semibold" for="3-2">{{'caisse.soldeMax' | translate}}</label>
                                    <p-inputNumber  mode="decimal" [(ngModel)]="criteria.soldeMax" id="3-2"></p-inputNumber>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label  class="text-sm font-semibold" for="4-1">{{'Date Min' | translate}}</label>
                                    <p-calendar class="w-full" [(ngModel)]="criteria.dateCreationFrom" id="4-1" dateFormat="dd-MM-yy"  [showIcon]="true"  class="p-fluid"></p-calendar>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label  class="text-sm font-semibold" for="4-2">{{'Date Max' | translate}}</label>
                                    <p-calendar class="w-full" [(ngModel)]="criteria.dateCreationTo" id="4-2" dateFormat="dd-MM-yy"  [showIcon]="true" class="p-fluid"></p-calendar>
                                </div>


                <div class="col-span-full flex justify-end mt-4">
                    <button pButton pRipple label="{{'Reset' | translate}}" class="px-4 py-2 mx-4 rounded-md bg-red-500" (click)="resetCriteria()">
                        <i class="pi pi-sort-amount-down"></i>
                    </button>
                    <button pButton pRipple label="{{'validate' | translate}}" class="px-4 py-2 rounded-md" (click)="findPaginatedByCriteria1()">
                        <i class="pi pi-sort-amount-down"></i>
                    </button>
                </div>
            </div>

            <p-table #dt [value]="comptes" [columns]="cols" [rows]="8" [paginator]="false"
                     [globalFilterFields]="['solde', 'debit', 'credit', 'numeroCompte', 'dateCreation', 'banquelabel']" [(selection)]="selections"
                     [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                     currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                     [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-col md:flex-row justify-between items-center p-2 gap-4">
                        <h5 class="text-center md:text-left">{{'caisse.header' | translate}}</h5>
                        <span class="relative w-full md:w-auto">
                            <p-iconfield iconPosition="left" class="w-full md:w-auto">
							  <p-inputicon class="pi pi-search" />
                              <input pInputText type="text" placeholder="{{'searchInput' | translate}}"
                                     (input)="dt.filterGlobal($event.target.value, 'contains')"
                                     class="w-full md:w-72 border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-300" />
                            </p-iconfield>
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="solde">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'compte.solde' | translate}}</span>
                                <p-sortIcon field="solde"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="debit">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'compte.debit' | translate}}</span>
                                <p-sortIcon field="debit"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="credit">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'compte.credit' | translate}}</span>
                                <p-sortIcon field="credit"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="dateCreation">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'compte.dateCreation' | translate}}</span>
                                <p-sortIcon field="dateCreation"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="banque">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'compte.caisse' | translate}}</span>
                            </div>
                        </th>

                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>

                        <td>{{element.solde}}</td>


                        <td>{{element.debit}}</td>


                        <td>{{element.credit}}</td>


                        <!--      <td>{{element.numeroCompte}}</td>-->


                        <td>{{element.dateCreation | date :'dd/MM/yyyy HH:mm' }}</td>


                        <td>{{element.caisse?.libelle}}</td>

                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="edit(element)"  *ngIf="editActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-secondary mr-2" (click)="view(element)"  *ngIf="viewActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"  *ngIf="deleteActionIsValid"></button>
<!--
                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="duplicate(element)"  *ngIf="duplicateActionIsValid"></button>
-->
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr class="font-semibold bg-gray-100">
                        <td colspan="1" class="text-right text-blue-600">Total</td>
                        <td class="text-blue-600">{{totalSoldes | number:'1.2-2'}}</td>
                        <td class="text-blue-600">{{totalDebits | number:'1.2-2'}}</td>
                        <td class="text-blue-600">{{totalCredits | number:'1.2-2'}}</td>
                        <td colspan="6"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'compte' : 'comptes' : 0 }}.
                    </div>
                </ng-template>
            </p-table>

        </div>

            <app-caisse-create-admin  *ngIf="createDialog  && createActionIsValid"></app-caisse-create-admin>
            <app-caisse-edit-admin  *ngIf="editDialog  && editActionIsValid"></app-caisse-edit-admin>
        <app-caisse-view-admin [totalCredits]="totalCredits_transactions" [totalDebits]="totalDebits_transactions"  *ngIf="viewDialog  && viewActionIsValid"></app-caisse-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card header="Permission not allowed" *ngIf="!listActionIsValid">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
