<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'statutLocal.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'statutLocal.tabPan' | translate}}">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="1">{{'statutLocal.indexation' | translate}}</label>
                                    <p-inputNumber id="1" [disabled]="true" placeholder="{{'statutLocal.indexation' | translate}}" [ngModel]="item.indexation"></p-inputNumber>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="2">{{'statutLocal.code' | translate}}</label>
                                    <input  type="text" pInputText [disabled]="true" placeholder="{{'statutLocal.code' | translate}}" autofocus  id="2" [ngModel]="item.code">
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="3">{{'statutLocal.label' | translate}}</label>
                                    <input  type="text" pInputText [disabled]="true" placeholder="{{'statutLocal.label' | translate}}" autofocus  id="3" [ngModel]="item.label">
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="4">{{'statutLocal.style' | translate}}</label>
                                    <input  type="text" pInputText [disabled]="true" placeholder="{{'statutLocal.style' | translate}}" autofocus  id="4" [ngModel]="item.style">
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="5">{{'statutLocal.color' | translate}}</label>
                                    <input  type="text" pInputText [disabled]="true" placeholder="{{'statutLocal.color' | translate}}" autofocus  id="5" [ngModel]="item.color">
                                </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="flex justify-end p-4">
            <div>
                <button class="border border-gray-400 font-semibold py-2 px-4 rounded shadow" (click)="hideViewDialog()">
                    <i class="pi pi-times"></i> Annuler
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>
