
<div class="container mx-auto p-4">
    <div class="bg-white shadow-md rounded-lg">
        <div class="border-b p-4 flex justify-between items-center bg-blue-200 text-white">
            <h2 class="text-xl font-semibold">{{'caisse.tabPan' | translate}}</h2>
            <button (click)="cancel()" class="text-white hover:bg-blue-600 p-2 rounded-md">
                <i class="pi pi-times"></i>
            </button>
        </div>
        <p-toast></p-toast>
        <div class="p-4">
        <p-tabView>
            <p-tabPanel header="{{'caisse.tabPan' | translate}}">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">

                                <!--<div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="1">{{'caisse.code' | translate}}<span class="text-red-500">*</span></label>
                                    <input type="text" pInputText  placeholder="{{'caisse.code' | translate}}" id="1" [(ngModel)]="item.code"
                                           [ngClass]="{'ng-invalid ng-dirty' : !validCaisseCode}"  />
                                    <small class="text-red-500" *ngIf='!validCaisseCode'>Code is obligatory.</small>
                                </div>
-->

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="2">{{'caisse.libelle' | translate}}<span class="text-red-500">*</span></label>
                                    <input type="text" pInputText  placeholder="{{'caisse.libelle' | translate}}" id="2" [(ngModel)]="item.libelle"
                                           [ngClass]="{'ng-invalid ng-dirty' : !validCaisseLibelle}"  />
                                    <small class="text-red-500" *ngIf='!validCaisseLibelle'>Libelle is obligatory.</small>
                                </div>


                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="3">{{'caisse.solde' | translate}}</label>
                                    <p-inputNumber  id="3" placeholder="{{'caisse.solde' | translate}}" [(ngModel)]="item.solde"  >
                                    </p-inputNumber>

                                </div>
                    <div class="field flex flex-col gap-2">
                        <label class="text-sm font-semibold" for="6">{{'Date de création' | translate}}</label>
                        <p-calendar id="6"  class="w-full" appendTo="body"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date de création' | translate}}"  [(ngModel)]="item.dateCreation"
                                    dateFormat="{{dateFormat}}"  >
                        </p-calendar>
                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>
        </div>


            <div class="flex justify-end space-x-3 p-4 border-t">
                <p-button (click)="save()" icon="pi pi-check"
                          label="{{'validate' | translate}}"
                          styleClass="p-button-primary">
                </p-button>

                <p-button (click)="cancel()" icon="pi pi-times"
                          label="{{'cancel' | translate}}"
                          styleClass="p-button-secondary">
                </p-button>
            </div>
        </div>
    </div>
