    <p-dialog [(visible)]="editDialog" closable="false" [style]="{width: '70vw'}" header="{{'avoir.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
<ng-template pTemplate="content" >
        <p-tabView>
            <p-tabPanel header="{{'avoir.tabPan' | translate}}">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="1">{{'avoir.montant' | translate}}</label>
                                    <p-inputNumber  id="1" placeholder="{{'avoir.montant' | translate}}" [(ngModel)]="item.montant"  >
                                    </p-inputNumber>

                                </div>

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="2">{{'avoir.date' | translate}}</label>
                                    <p-calendar class="w-full" appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'avoir.date' | translate}}"  [(ngModel)]="item.date"
                                                dateFormat="{{dateFormat}}"  >
                                    </p-calendar>

                                </div>

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="3">{{'avoir.motif' | translate}}</label>
                                    <input type="text" pInputText  placeholder="{{'avoir.motif' | translate}}" id="3" [(ngModel)]="item.motif"
                                            />

                                </div>


                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="4">{{'avoir.location' | translate}}</label>
                                <p-dropdown class="w-full"  appendTo="body"  [options]="locations" [(ngModel)]="item.location" id="4" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="code" placeholder="{{'avoir.location' | translate}}"  >
                                </p-dropdown>

                            </div>

                </div>
            </p-tabPanel>

        </p-tabView>

</ng-template>

<ng-template pTemplate="footer" >
    <div class="flex justify-end space-x-3 p-4">

            <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-primary" label="{{'validate' | translate}}"  (click)="edit()">
                <i class="pi pi-check"></i> {{'validate' | translate}}
            </button>

                <button (click)="hideEditDialog()" class="border border-gray-400 text-gray-600 hover:bg-gray-200 px-4 py-2 rounded-md">
                    <i class="pi pi-times"></i> {{'cancel' | translate}}
                </button>

    </div>
</ng-template>

    </p-dialog>
